p {
  text-align: center;
  font-weight: bold;
}

.cardSectionContainer {
  padding: 15px 40px;
}

.cardImage {
  width: 14rem;
  height: 10rem;
  /* border: 0.5px solid rgb(87, 92, 92); */
  border-radius: 20px;
}

.cardImage:hover {
  /* border-color: rgb(35, 95, 95); */
  box-shadow: 5px grey;
  box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.5);
  animation: move-up 500ms ease-out forwards;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-0.6rem);
  }
  100% {
    transform: translateY(-0.3rem);
  }
}
