.seconds {
  font-size: 2.5rem;
  font-weight: bold;
}

.buttonsModal {
  display: flex;
  justify-content: center;
  padding: 22rem 1rem;
}

@media (max-width: 480px) {
  .seconds {
    font-size: 1.4rem;
  }

  .buttonsModal {
    padding: 26rem 1rem;
  }

  .buttonsModal Button {
    width: 6.5rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .seconds {
    font-size: 1.4rem;
  }

  .buttonsModal {
    padding: 26rem 1rem;
  }

  .buttonsModal Button {
    width: 5.2rem;
    font-size: 0.7rem;
  }
}
