.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
  color: #4c4c6d;
}

.mainSection h2 {
  text-align: center;
  margin: 7rem;
  font-size: 2.5rem;
  width: 50%;
  height: 18rem;
  color: #4c4c6d;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.buttonsModal {
  padding-top: 12rem;
}

@media only screen and (max-width: 68.75em) {
  .mainSection h2 {
    margin: 6rem auto;
    width: 50%;
  }

  .buttons {
    width: 30%;
  }
}

@media only screen and (max-width: 43.75em) {
  .mainSection h2 {
    margin: 4rem auto 10rem;
    width: 60%;
    height: 12rem;
  }

  .buttons {
    width: 45%;
  }
}

@media only screen and (max-width: 37.5em) {
  .mainSection h2 {
    margin: 8rem auto;
    width: 60%;
    font-size: 2rem;
  }

  .buttons {
    width: 50%;
  }
}

@media only screen and (max-width: 25em) {
  .buttons {
    width: 70%;
  }
}
