.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal {
  position: fixed;
  justify-content: center;
  left: 33vw;
  top: 20vh;
  width: 33%;
  height: 50vh;
  background-color: #e8f6ef;
  color: #4c4c6d;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 400ms ease-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modalHeader {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem;
}

.content {
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #393e46;
}

.modalFooter {
  font-size: 2rem;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 93.75em) {
  .modal {
    width: 50%;
    height: 55vh;
  }
}

@media only screen and (max-width: 68.75em) {
  .modal {
    left: 20%;
    width: 60%;
    height: 50vh;
  }
}

@media only screen and (max-width: 43.75em) {
  .modal {
    left: 20%;
    width: 60%;
    height: 45vh;
  }

  .modalFooter {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .content {
    font-size: 1rem;
    padding: 1rem 1rem 0;
  }

  .modal {
    padding-top: 0rem;
    left: 15%;
    width: 70%;
    height: 60vh;
  }

  .modalHeader {
    font-size: 1.3rem;
  }
}
