.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
}

.content {
  text-align: center;
  font-size: 2rem;
}

.modal {
  position: absolute;
  justify-content: center;
  left: 5%;
  width: 30%;
  height: 75%;
  background-color: rgb(222, 229, 230);
  margin: 8rem 36rem;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 400ms ease-out forwards;
}

/* .buttons {
  display: flex;
  justify-content: space-between;
  padding: 22rem 1rem;
} */

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 40rem) {
  .modal {
    width: 80%;
    left: calc(50% - 52rem);
  }
  .content {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .buttonsModal {
    padding: 7rem;
  }
}

@media (max-width: 30rem) {
  .modal {
    width: 80%;
    left: calc(50% - 48rem);
  }
  .content {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media (max-width: 375px) {
  .modal {
    width: 80%;
    left: calc(50% - 45rem);
  }
  .content {
    font-size: 1rem;
    padding: 1rem;
  }
}
