.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: #4b6587;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.brand {
  text-decoration: none;
  color: white;
}

.brand:hover {
  color: #f0e5cf;
}

.navbarButton {
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-size: inherit;
  font: inherit;
  font-weight: bold;
  font-size: 1.17em;
}

.navbarButton:hover {
  cursor: pointer;
}

.instructions {
  padding: 1rem 2rem;
  line-height: 2.5rem;
  text-align: center;
}

@media (max-width: 40rem) {
  .instructions {
    padding: 3.5rem 2rem;
  }
}

@media (max-width: 30rem) {
  .instructions {
    line-height: 3rem;
    padding: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .header {
    font-size: 0.8rem;
  }
  .instructions {
    line-height: 2.8rem;
    font-size: 1.2rem;
    padding: 1.4rem;
  }
}
