.header {
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #ffe194;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.brand {
  text-decoration: none;
  color: #4c4c6d;
}

.content {
  font-size: 1.5rem;
  line-height: 2rem;
}

.optionsList {
  list-style: none;
}
