.sections {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 10rem;
}

.title {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
  margin: 3rem auto;
}
