.buttons {
  padding: 0.5rem 48rem;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

.buttons Button {
  width: 7rem;
  height: 3rem;
}

.buttons Button:focus {
  background-color: #4b6587;
  color: #f0e5cf;
}

/* @media (max-width: 40rem) {
  .buttons {
    padding: 0.5rem 17rem;
  }

  .buttons Button {
    width: 6rem;
  }
}

@media (max-width: 30rem) {
  .buttons {
    padding: 0.1rem 12rem;
  }

  .buttons Button {
    width: 5rem;
  }
} */

@media (max-width: 480px) and (max-height: 768px) {
  .buttons {
    padding: 2%;
    margin-right: 1rem;
  }

  .buttons Button {
    width: 4.5rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 320px) {
  .buttons {
    padding: 3%;
    margin-right: 1rem;
  }

  .buttons Button {
    width: 3.5rem;
    font-size: 0.7rem;
  }
}
