.buttons {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

.buttons Button {
  width: 7rem;
  height: 3rem;
  background-color: #b8dfd8;
  color: #4c4c6d;
  font-weight: bold;
  font-family: 'Radikal';
}

.buttons Button:focus {
  background-color: #ffe194;
}

@media (max-width: 420px) {
  .buttons {
    padding: 0;
  }
  .buttons Button {
    width: 4rem;
    height: 2.5rem;
    font-size: 0.7rem;
  }
}
