.buttons {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

.buttons Button {
  width: 8rem;
  height: 3.5rem;
  background-color: #b8dfd8;
  color: #4c4c6d;
  font-weight: bold;
  font-family: 'Radikal';
}

.buttons Button:focus {
  background-color: #ffe194;
}
