/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'); */
* {
  box-sizing: border-box;
}

html {
  background-color: #e8f6ef;
  font-family: 'Radikal Black', 'Montserrat', 'Verdana';
  font-size: 1rem;
}
