@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
  box-sizing: border-box;
}

html {
  background-color: rgb(228, 231, 235);
  font-family: 'Montserrat', 'Verdana', sans-serif;
  font-size: 1rem;
}
