/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap'); */
* {
  box-sizing: border-box;
}

body {
  background-color: #e8f6ef;
  font-family: 'Radikal Black', 'Montserrat', 'Verdana';
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@media only screen and (max-width: 68.75em) {
  html,
  body {
    font-size: 75%;
  }
}

@media only screen and (max-width: 56.25em) {
  html,
  body {
    font-size: 68%;
  }
}

@media only screen and (max-width: 37.5em) {
  html,
  body {
    font-size: 65%;
  }
}
